.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.span-color{
    color:#FF6F33;
}

/* Make it responsive */
@media only screen and (max-width:688px) {
    .product-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width:689px) and (max-width: 991px){
    .product-container{
        grid-template-columns: repeat(2, 1fr);
    }
}