.detail-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    column-gap: 4rem;
}
.detail-img{
    width: 210px;
    height: 210px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
}

.error{
    color: red;
}

/* Make it responsive */
@media only screen and (max-width:688px) {
    .detail-container{
        grid-template-columns: repeat(1, 1fr);
    }
    /* .shipping-form input {
        width: 250px;
    } */
}
@media only screen and (min-width:689px) and (max-width: 991px){
    .detail-container{
        grid-template-columns: repeat(1, 1fr);
    }
}